/* DEBUT BASE DE LA PAGE */
body{
    background-color: white;
}                       /* BODY */

/* DEBUT BOUTTON */
.floating-button {
    position: fixed;
    top: 8px; /* Ajuste la position verticale pour qu'il s'adapte à ta navbar */
    right: 20px;
    background-color: lightgrey;
    color: black;
    width: 40px; /* Réduit la largeur du bouton */
    height: 40px; /* Réduit la hauteur du bouton */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Réduit la taille de la police pour s'adapter au bouton plus petit */
    text-decoration: none;
    border-radius: 5px; /* Ajoute des coins arrondis pour un meilleur aspect */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Réduit légèrement l'ombre pour s'adapter à la taille réduite */
    transition: background-color 0.3s;
}

.floating-button a {
    color: #fff; /* Définit la couleur du texte sur blanc */
}

.floating-button:hover {
    background-color: black;
}
/* FIN BOUTTON */

.navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 20px;
    margin-left: 20px;
}
/* FIN BASE DE LA PAGE (la base est la même pour tous les projets)*/

/* DEBUT TOUT BLOG (cette partie est la même pour tous les projet)*/

#titre-blog {
    position: absolute;
    top: 70px;
    margin-left: 240px;
}

#titre-blog h4 { 
    font-size: 1.1em;
    color: gray; 
}
/* DATE EN DESSOUS DU PROJET */

/* DEBUT IMAGE */

#image-presentation {
    display: flex; /* Utilisation de Flexbox */
    gap: 80px; /* Espace entre les images, ajustez la valeur selon vos besoins */
    position: absolute;
    top: 170px;
    left: 240px; /* Remplacez margin-left par left pour un positionnement précis */
}

#image-presentation img {
    max-width: 100%; /* Assurez-vous que les images ne dépassent pas la largeur définie */
    height: auto; /* Maintenir le ratio d'aspect */
}

/* FIN IMAGE */

#presentationprojet {
    position: absolute;
    top: 450px;
    margin-left: 240px;
    margin-right: 200px;
}


/* DEVELOPPEMENT BLOG*/

#developpement_blog_insee {
    position: absolute;
    top: 300px;
    margin-left: 240px;
    margin-right: 200px;
}

/* 2 IMAGES */

#image2 {
    display: flex; /* Utilisation de Flexbox */
    gap: 180px; /* Espace entre les images, ajustez la valeur selon vos besoins */
}


/* FIN DEVELOPPEMENT BLOG */


/* BILLET BLOG NETTOYAGE BD SUR R */

