# Ignorer les fichiers et dossiers spécifiques à R
.Rhistory
.RData
.Rproj.user
.Ruserdata

# Ignorer les fichiers système
.DS_Store

# Ignorer les fichiers de logs et de cache
*.log

Site-personnel.Rproj

/.quarto/