/* css styles */

/* --- Open Image preatiquer --- */

#image-pratiquer {
    transition: transform 0.3s, opacity 0.3s; /* Durée de l'effet */
    border-radius: 15px; /* Ajuste la valeur pour le degré d'arrondi */
}

#image-pratiquer:hover {
    transform: scale(1.1); /* Zoom de 10% au survol */
}

#image-pratiquer:active {
    opacity: 0.8; /* Diminue l'opacité au clic */

}

/* --- Close Image preatiquer --- */


/* --- Open Card projets --- */
.card {
    transition: transform 0.3s, box-shadow 0.3s; /* Durée de l'effet */
}

.card:hover {
    transform: scale(1.05); /* Zoom de 5% au survol */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ombre au survol */
}
/* --- Close Card projets --- */

.page-description {
  display: none;
}