/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

/*-- scss:rules --*/


/* --- Open Card projets --- */
.card {
    transition: transform 0.3s, box-shadow 0.3s; /* Durée de l'effet */
}

.card:hover {
    transform: scale(1.05); /* Zoom de 5% au survol */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ombre au survol */
}
